.login {
    background-color: rgb(25, 25, 25);
    color: #fff;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    z-index: 100;
    top: 50%;
    left: 50%;
}

input {
    display: block;
    margin-bottom: 30px;
}