.NotificationCard {
    width: 40%;
    margin-right: 20px;
    background-color: #636e72;
    border-radius: 10px;
    box-shadow: 5px 5px #2d3436;
    position: relative;
    cursor: default;
}

.NotificationCard:hover {
    box-shadow: none;
    background-color: #7c8b91;
}

.card-titulo {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 2rem;
    font-weight: 600;
    color: #e74c3c;
}

.NotificationCard-body {
    width: 100%;
}

.NotificationCard-body-username, .NotificationCard-header {
    margin-left: 10px;
}

.NotificationCard-body-fecha {
    position: absolute;
    padding-left: 20px;
    text-align: start;
    top: 0px;
    left: 70%;
    color: #2c3e50;
}
@media screen and (max-width: 960px) {
    .NotificationCard {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .NotificationCard {
        width: 90%;
    }
    .card-titulo {
        margin: 0px;
        text-align: center;
    }
    .NotificationCard-body-fecha {
        position: initial;
        padding: 0px;
        margin-left: 10px;
    }
}