.profile {
    background-color: rgb(25, 25, 25);
    color: #fff;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-title {
    position: absolute;
    top: 12%;
    font-size: 4rem;
    font-weight: bold;
}
.perfil-intro {
    position: inherit;
}
.perfil-form {
    top: 25%;
    position: absolute;
    width: 50%;
}