
.notifications {
    background-color: rgb(25, 25, 25);
    color: #fff;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notifications-title {
    position: absolute;
    top: 12%;
    font-size: 4rem;
    font-weight: bold;
}
.notifications-content {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
}
.notifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.notification-item {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones-paginas {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-pagina {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 18px;
}

.no-notifications {
    font-size: 2rem;
}

@media screen and (max-width: 960px) {
    .notifications-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .notifications-container {
        padding-left: 10px;
    }
}

    
    

