.form-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0 30px;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    opacity: 1;
}
.form-input:hover {
    opacity: .9;
}
.form-input:focus {
    transition: .3s;
    opacity: .9;
    box-shadow: 0 0 10px 4px rgb(33, 37, 41);
}